/*estilo geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color:#0921f3;
    height: 100vh;
   
}

html{
    scroll-behavior: smooth;
}

p{
    font-size: 22px;
}

.flex{
    display: flex
}

.limite{
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color:#e7ebf0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}


h2.titulo{
    color: aliceblue;
    font-size: 38px;
    text-align: center;

}

h2.titulo span{
    color: #bff1ff;
   
}


 button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px  #00ff08;
    transform:scale(1.05) ;
}

/*estilo do cabeçalho*/
header{
    height: 60px;
    padding:0px 4%;
    background-color: #8ec0d1;
   
}

header > .limite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

header a{
    color: rgb(110,110, 110);
    text-decoration: none; 
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: azure;
    transform: scale(1.05);
  
}

header nav ul{
    list-style-type: none; 
 
    
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 50px; 
    
}




/*estilo do topo*/

section.topo-do-site{
    padding:40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
}


.topo-do-site .txt-topo-site p{
    color: aliceblue;
    margin: 150px 0%;
 
}

.img-topo-site img{
    width: 350px;
    height: 500px;
    position: relative;
    right: 60px;
    border: #8ec0d1 solid 2px;
}

.img-topo-site2 img{
    width: 220px;

   
}

@keyframes flutuar{
    0%{
        top:0;
    }

    100%{
        top:30px;
    }
}

#scroll-to-top-btn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 30px;
    background-color: #bff1ff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
   
}

#scroll-to-top-btn:hover {
    background-color: #555;
}

/*estilos das especialidades*/
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap:60px;
}

.especialidades .especialidades-box{
    color: aliceblue;
    padding: 50px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform:scale(1.1) ;
    box-shadow: 0 0 8px rgba(255, 250, 240, 0.623);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00ff08;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 20px 0;

}

.especialidades .especialidades-box2 img{
    width: 500px;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(207, 203, 196, 0.623);

}

.especialidades span{
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
}

/*estilo do rodape*/
footer{
    padding: 60px 4%;
    box-shadow: 0 0 ;
    box-shadow: 0 0 40px 10px rgba(245, 245, 220, 0.068);
}

footer .flex{
    justify-content: space-between;
}


/*MEDIA */
 @media screen and (max-width:1020px) {
    /*classes gerais*/
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 30px;
        line-height: 30px;
    }
 
    /*cabeçalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }
      /*topo do site*/

      section.topo-do-site .flex{
        gap: 50px;
    }

      section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
       
    }

    .topo-do-site .img-topo-site img{
        width: 95%;
    }
     
   /*especialidades*/
    section.especialidades{
        padding: 40px 12%;
    }
    
  
    

     /*rodape*/

     footer .flex{
        gap:30px;
     }

    footer .line-footer {
       text-align: center;

    }

}
